.Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.Page a{
    color:black;
}
.body {
    margin-top: 70px;
    padding-top: 20px;
    display: block;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    border-radius: 12px;
    min-height: 100%;
    min-width: 700px;
   max-width: 80rem;
}

.title {
    width: 80%;
    color: rgb(0, 0, 0);
    margin: 30px;
    text-align: center;
}

.Video {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marker {
    margin: 6px;
    height: 9px;
    width: 9px;
    border-radius: 4px;
}

.feedbacksList {
    min-width: 90%;
    margin-top: 15px;
    margin-bottom: 30px;
    border : 1px solid lightgrey;
    border-radius: 4px;
    min-height: 200px;
}

.feedbacksListFooter {
    display: flex;
    justify-content: right;
    height: 50px;
    width: 100%;
}


.feedbacksListContent {
    background-color: white;
    min-height: 200px;
}

@media screen and (max-width: 500px) {
    iframe {
        width: 90%;
    }

    .body {
        width: 100%;
        min-width: 380px;
    }

    .body h2 {
        font-size: 18px;
    }

    .body h3 {
        font-size: 15px;
    }


    .SubscriptionContent {
        width: 150px;
        height: 170px;
        margin-top: 10%;
        margin-right: 30%;
    }
}