.Page {
    display: flex;
    padding: 20px;
}

.body {
    padding-top: 20px;
    display: block;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid rgba(144, 202, 249, 0.46);
    min-height: 100%;
    min-width: 700px;
    width: 100%;
}

.title {
    width: 80%;
    float: left;
    color: rgb(103, 58, 183);
    margin: 10px;

}

.Video {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    min-width: 130px;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    float: right;
    background-color: rgb(103, 58, 183);
}

.SubscriptionInfo {
    margin-left: 8px;
    margin-top: 3px;
    height: 18px;
    width: 18px;
}

.SubscriptionFullInfo {
    color: black;
}

.SubscriptionContent {
    position: absolute;
    top: 10%;
    right: 11.6%;
    min-width: 240px;
    height: 100px;
}
.triangle{
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marker {
    margin: 6px;
    height: 9px;
    width: 9px;
    border-radius: 4px;
}


.SubscriptionHeader {
    gap: 15px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 100%;
    box-shadow: 3px 4px 5px -4px rgba(0,0,0,0.75);
    background-color: #FFFFFF;
}
.SubscriptionHeader h5{
    text-decoration: underline;
}

.SubscriptionFullInfoBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SubscriptionFullInfoBody h3 {
    font-weight: bold;
    margin-top: 10px;
}

.SubscriptionFullInfoBody a button {
    height: 30px;
    font-size: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(103, 58, 183);
}
.SubscriptionFullInfoBody span {
    color: gray;
}
.triangel {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
}
.feedbacksList {
    color: rgb(122, 12, 46);
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 12px;
    width: 80%;
    min-height: 200px;
    background-color: rgb(255, 231, 217)
}

.feedbacksList {
    box-shadow: 0px 2px 3px 0.3px rgba(0, 0, 0, 0.33);
}

.feedbacksListFooter {
    display: flex;
    justify-content: right;
    height: 50px;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.feedbacksListFooter a {
    color: rgb(122, 12, 46);
    margin-right: 10px;
}

.feedbacksListContent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 200px;
}

@media screen and (max-width: 500px) {
    iframe {
        width: 90%;
    }

    .body {
        width: 100%;
        min-width: 380px;
    }

    .body h2 {
        color: rgb(122, 12, 46);
        font-size: 18px;
    }

    .body h3 {
        font-size: 15px;
    }

    .Page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .SubscriptionContent {
        width: 150px;
        height: 170px;
        margin-top: 10%;
        margin-right: 30%;
    }
}