.Page{
    display: flex;
}
.body {
    display: block;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid rgba(144, 202, 249, 0.46);
    min-height: 100%;
    min-width: 700px;
    width: 100%;
}

.title {
    color: rgb(103, 58, 183);
    margin: 10px;
}

.Video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    float: right;
    background-color: rgb(103, 58, 183);
}

.SubscriptionInfo {
    margin-left: 8px;
    margin-top: 3px;
    height: 18px;
    width: 18px;
}

.SubscriptionFullInfo {
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: right;
}

.SubscriptionContent {
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 10px;
    width: 150px;
    height: 170px;
    background-color: white;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marker {
    margin: 6px;
    height: 9px;
    width: 9px;
    border-radius: 4px;
}

.Logo {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubscriptionHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    background-color: lightgray;
    width: 100%;
}

.SubscriptionFullInfoBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SubscriptionFullInfoBody h3 {
    font-weight: bold;
    margin-top: 10px;
}

.SubscriptionFullInfoBody a button {
    height: 30px;
    font-size: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(103, 58, 183);
}

.feedbackTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: rgb(4, 41, 122);
    width: 80%;
    background-color: rgb(209, 233, 252);
    height: 60px;
    box-shadow: 1px 2px 3px 0.2px rgba(0, 0, 0, 0.33);
}

.SubscriptionFullInfoBody span {
    color: gray;
}

.feedbacksList {
    color: rgb(122, 12, 46);
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 12px;
    width: 80%;
    min-height: 200px;
    background-color: rgb(255, 231, 217)
}

.feedbacksList {
    box-shadow: 0px 2px 3px 0.3px rgba(0, 0, 0, 0.33);
}

.feedbacksListFooter {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.feedbacksListFooter a {
    margin-right: 20px;
    margin-bottom: 18px;
    color: rgb(122, 12, 46);
    height: 0;
}

.feedbacksListContent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 200px;
}

@media screen and (max-width: 500px) {
    iframe {
        width: 90%;
    }
    .body{
        width: 100%;
        min-width: 380px;
    }

    .body h2 {
        color: rgb(122, 12, 46);
        font-size: 18px;
    }

    .body h3 {
        font-size: 15px;
    }
    .Page{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .SubscriptionContent {
        width: 40%;
        height: 25%;
        margin-top: 10%;
        margin-right: 30%;
    }
}