.Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.body{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: rgb(97, 97, 97);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    border-radius: 12px;
    min-height: 700px;
    padding: 20px 50px;
    min-width: 700px;
}
@media screen and (max-width: 500px){
    .body{
        min-width: 300px;
    }
}