.body {
    width: 100%;
    margin: 0;
    color: black;
}

.body ul {
    list-style: none;
}

.mainText {
    height: 80px;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 700px;
}

.date {
    height: 100%;
}

.item {
    height: 100%;
    border-radius: 12px;
    color: rgb(183, 129, 3);
    background-color: rgb(255, 247, 205);
    box-shadow: rgb(145 158 171 / 20%) 0px 3px 1px -2px, rgb(145 158 171 / 14%) 0px 2px 2px 0px, rgb(145 158 171 / 12%) 0px 1px 5px 0px;
    margin: 10px;

}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(122, 79, 1);
    background-color: rgb(255, 247, 205);
    box-shadow: rgb(145 158 171 / 20%) 0px 3px 1px -2px, rgb(145 158 171 / 14%) 0px 2px 2px 0px, rgb(145 158 171 / 12%) 0px 1px 5px 0px;
}

.CommentText {
    margin: 10px;
}

.ratingStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 7px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 120px;
    height: 20px;
    color: white;
    border-radius: 3px;
}

.commentButton {
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25px;
    border-radius: 5px;
    color: rgb(3, 114, 183);
    background-color: rgb(205, 219, 255);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .status {
        width: 100%;
    }

    .item h2 {
        margin: 0;
    }
}