.body {
    margin: 0;
    color: black;
}

.body ul {
    list-style: none;
}

.mainText {
    margin: 10px;
    height: 100%;
    width: 900px;
    font-weight: normal;
    overflow: hidden;
}
.mainText span{
    cursor: pointer;
    font-weight: bold;
}
.date {
    margin: 10px;
    height: 100%;
    text-align: left;
    color: black;
}

.item {
    height: 100%;
    border-radius: 12px;

}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.CommentText {
    margin: 10px;
}

.ratingStatus {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:200px;
    max-width:270px;
}
.googleTransl{
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    background-color: white;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
}
.status {
    float: right;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 20px;
    color: white;
}

.commentButton {
    float: right;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    width: 15%;
    height: 25px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 33, 33);
    cursor: pointer;
}
.pagination{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.messageWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.modal {
    min-height: 300px;
    width: 500px;
    background-color: white;
    border-radius: 6px;
    animation-duration: 1.4s;
    animation-name: slidein;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 93.5%;
}

.modal h3 {
    font-size: 20px;
    margin: 0px 20px 20px 20px;
    color: black;
    text-align: center;

}

.title p {
    height: 100%;
    font-size: 17px;
    color: black;
    text-align: justify;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 500px;
    }
}

.button {
    width: 100%;
}

.button button {
    float: right;
    margin: 10px;
    width: 10px;
}
@media screen and (max-width: 500px) {
    .title p {
    font-size: 12px;
}
    .messageWrapper{
        width: 100%;
        height: 100%;
    }
    .modal{
        margin: 20px;
        animation: none;
    }
    .status {
        width: 100%;
    }
    .commentButton{
        width: 30%;
    }
    .mainText{
        width: 100%;
    }
    .status{
        margin: 5px 10px 10px 0;
    }
    .status span{
        margin: 0;
    }
    .item h2 {
        margin: 0;
    }
}