.Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.body {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    min-height: 400px;
    min-width: 700px;
    width: 85%;
}
.subsPlanItem{
    width: 420px;
    height: 550px;
    border:1px solid lightgray;
    border-radius: 6px;
    margin:10px;
    padding: 35px 30px 35px 30px;
}
.subtitle{
    margin-bottom: 35px;
    color: rgba(82,82,128,.8);
    font-size: 14px;
}
.title{
    font-size: 36px;
}
.advantages{
    margin: 20px 0 35px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantagesText{
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 40%;
    height: 100%;

}
.advantage{
    height: 100%;
    width: 40%;
    margin: 10px;
}
.advantagesText{

    height: 100%;
    font-weight: bold;
    font-size: 14px;
}
.buttons{
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    margin-top: 35px;
    width: 216px;
    height: 41px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
    border-radius: 8px;
}
@media screen and (max-width: 500px) {
    .subsPlanItem{
        width: 300px;
        height: 100%;
    }
    .title{
        font-size: 30px;
    }
    .body {
        margin-top: 100px;
        width: 100%;
        min-width: 380px;
        flex-direction: column;
    }

    .Page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}