.Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.body {
    margin-top: 100px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    border-radius: 12px;
    min-height: 600px;
    min-width: 700px;
    max-width: 80rem;
}
.body h1{
    margin: 20px 20px 20px 20px;
}
.item{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item button{
    width: 45px;
    margin:5px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
.pagination{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.perPage{
    border: 1px solid lightgray;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px;
    width: 70px;
    height: 40px;
    margin-bottom: 30px;
}
@media screen and (max-width: 500px){
    .body{
        min-height: 700px;
        min-width: 300px;
        max-width: 400px;
    }
    .item{
        flex-direction: column;
        gap: 20px;
    }
}