.Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.body {
    margin-top: 70px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    border-radius: 12px;
    min-height: 650px;
    min-width: 700px;
    max-width: 80rem;
}
.Links{
    font-size: 15px;
    text-align: center;
    width: 281px;
    margin: 20px;
    padding: 15px;
    border-radius: 4px;
    color: white;
    background-color: black;
}
.Links:hover{
    text-decoration: none;
}
@media screen and (max-width: 500px) {
    .body{
        min-width: 300px;
        max-width: 400px;
        height: 700px;
    }
}