.NavBar{
    height: 100%;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    background-color: white;
    border-radius: 12px;
    margin-top: 66px;
}
.NavBar button{
    margin: 10px;
}