.NavBar{
    height: 100%;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    background-color: white;
    border-radius: 12px;
    margin-right: 50px;
}
.Logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.NavBar button{
    margin: 10px;
}
@media screen and (max-width: 500px){
    .NavBar{
        margin: 0;
    }
}