.Page{
    display: flex;
    padding: 10px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid rgba(144, 202, 249, 0.46);
    min-height: 400px;
    min-width: 700px;
}
.body h2 {
    margin: 20px;
}
.QrCode{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 231, 217);
    border-radius: 12px;
}
.Video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 500px){
    iframe{
        width: 70%;
        height: 100%;
    }
    .Page{
        display: block;
        margin: 0;
    }
}