*{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;

}
.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: #d1f0ff;
}
.facebook{
  height: 35px;
  width: 35px;
}
